# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.VEAL.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Dissertation 2021-22\VEAL\.idea\.idea.VEAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
